@font-face {
    font-family: 'ralewayregular';
    src: url('font/raleway-regular-webfont.eot');
    src: url('font/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway-regular-webfont.woff2') format('woff2'),
         url('font/raleway-regular-webfont.woff') format('woff'),
         url('font/raleway-regular-webfont.ttf') format('truetype'),
         url('font/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	font-family: 'ralewayregular', Arial, Verdana, serif;
	width: 1300px;
	margin-left: 30px;
}

/*navigation*/

header
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 20px;
}

#logo
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

#logo img
{
	width: 100px;
	height: 60px;
}

nav ul
{
	list-style-type: none;
	display: flex;
}

nav li
{
	margin-right: 15px;
}

nav a
{
	font-size: 1em;
	color: black;
	padding-bottom: 5px;
	text-decoration: none;
}

nav a:hover
{
	color: #0065FC;
	padding-top: 42px;
	border-top: 3px solid #0065FC;
}

#inscription
{
	color: #0065FC;
	font-weight: bold;
}

/*Bloc recherche*/

h3
{
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: -12px;
}

form
{
	display: flex;
	border: 1px solid #F2F2F2;
	border-radius: 10px;
	width: 370px;
	height: 40px;
	flex-direction: row;
	justify-content: flex-start;	
}

.map
{
	border: 1px solid #F2F2F2;
	border-radius: 10px 0 0 10px;
	background-color: #F2F2F2;
	padding: 12px 0 0 12px;
	width: 25px;
	height: 26px;
}

input
{
	border: none;
	width: 220px;
	height: 40px;
	padding-left: 10px;
	font-weight: bold;
}

#bouton
{
	border: none;
	border-radius: 0 10px 10px 0;
	background-color: #0065FC;
	color: white;
	width: 110px;
	font-weight: bold;
}

#search
{
	display: none;
}

/*Bloc Filtres*/

#filtres
{
	display: flex;
	font-weight: bold;
}

#titre/*, #eco, #famille, #romantique, #animaux*/
{
	padding-top: 12px;
}

#filtres ul
{
	display: flex;
	list-style-type: none;
}

#filtres li
{
	padding-right: 80px;
}

#filtres i
{
	color: #0065FC;
	border: 1px solid #DEEBFF;
	border-radius: 30px;
	background-color: #DEEBFF;
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

#eco
{
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	height: 35px;
	margin-right: 15px;
}

#billet
{
	padding: 9px 3px 0px 6px;
}

#famille
{
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	height: 35px;
	margin-right: 15px;
}

#enfant
{
	padding: 9px 0 0 12px;
}

#romantique
{
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	height: 35px;
	margin-right: 15px;
}

#coeur
{
	padding: 9px 0 0 7px;
}

#animaux
{
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	height: 35px;
	margin-right: 15px;
}

#chien
{
	padding: 9px 0 0 6px;
}

#info
{
	color: white;
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	background-color: #0065FC;
}

/*Bloc Hébergements*/

#hebergements /*Fond*/
{
	/*display: flex;*/
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 20px 0 0 20px;
	width: 900px;
}

#hebergements a
{
	text-decoration: none;
}

#hebergements strong
{
	font-weight: bold;
}

#fig1
{
	margin-left: -0.5px;
}

#photo_cannebiere
{
	width: 200px;
	height: 100px;
	border: 3px solid white;
	border-radius: 20px 20px 0 0;
	/*box-shadow: 0px 2px 2px black;*/
}

#legend1
{
	width: 190px;
	height: 60px;
	border: 3px solid white;
	border-radius: 0 0 20px 20px;
	color: black;
	padding-left: 10px;
	margin-top: -6px;
	background-color: white;
	/*box-shadow: 2px 2px 2px black;*/
}

#grise1
{
	color: #F2F2F2;
}

#fig1 span 
{
	color: #0065FC;
}